<%-include("./partials/header")%>
<link rel="stylesheet" href="css/stylepricing.css">

<div style="background-color: black;width: 100%;height: 6.5rem;">
</div>


<!-- <div>
    <div class="parallax">
      
    </div>

           <div class="container up">
              <h4> Let's sit across the table and discuss it with a cup of tea as i am tea lover so we could quote you best with the bribe of a nice tea....</h4>
              <div class="button"><a href="#" class="btn btn-success btn-lg " role="button" aria-pressed="true">Let's Meet</a></div>
           </div>

            
</div> -->

<div data-scrolly-top="blurInBottom;duration:2.2s">    
  <div class="parallax">
      <div class="over">
        <h1>Let's sit across the table and discuss it with a cup of tea as i am tea lover so we could quote you best with the bribe of a nice tea....</h1>
        <div class="button"><a href="/contact" class="btn">Let's Meet</a></div>
      </div>
  </div>
</div>
        


<%-include("./partials/footer")%>